<section class="grey no-top-space">
	<div class="section-header">
		<div class="container">
			<h1 class="h3 large-title">{{ post.title }}</h1>
			<p class="md light-text-color no-spacing"><span class="italic">By</span> {{ post.author.name }}</p>
		</div>
	</div>
	<div class="container">
		<div class="recipe-block">
			<div class="float-grid break-lg">
				<div class="col-8 block-image right">
					<div class="slideshow">
					{% for slide in post.get_field('recipe_slideshow') %}
						<div class="slide">
							<div class="ratio-wrap">
								{% if slide.media == 1 %}
									<video class="cover" data-object-fit="cover" autoplay loop muted playsinline>
							      <source src="{{ slide.video }}" type="video/mp4">
							    </video>
						    {% else %}
						    	<img class="cover" src="{{ TimberImage(slide.image).src('sc-5-3-md') }}" srcset="{{ TimberImage(slide.image).src('sc-5-3-xlg') }} 1000w">
								{% endif %}
							</div>
							{% if slide.slide_caption %}
								<div class="caption-block align-center">
									<p class="caption">{{ slide.slide_caption }}</p>
								</div>
							{% endif %}
						</div>
					{% endfor %}
					</div>
				</div>
				<div class="col-4 block-info left">
					<div class="thumb-info">
						{% if introText %}
						  <p class="md no-spacing description">{{ introText }}</p>
						{% endif %}
						{% if recipeServings %}
						  <p class="light-text-color">{{ recipeServings }}</p>
						{% endif %}
						<p class="tags"><strong>Tags</strong> — {% for term in post.terms('tags') %}
							<a href="{{term.link}}">{{term.name}}</a>{% if not loop.last %}, {% endif %}
						{% endfor %}
					</p>
					</div>
					{% if shareLinks == true %}
						<div class="share-wrap">
							<div class="underlined-link">Share</div>
							<ul class="share-links">
								<li><a target="_blank" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=700,height=700,toolbar=1,resizable=0'); return false;" href="https://www.facebook.com/sharer.php?u={{ post.link }}"><span class="icon">{% include 'icons/facebook.svg' %}</span></a></li>
								<li><a target="_blank" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=600,height=600,toolbar=1,resizable=0'); return false;" href="https://twitter.com/intent/tweet?url={{ post.link }}&text={{ post.title }}"><span class="icon">{% include 'icons/twitter.svg' %}</span></a></li>
								<li><a target="_blank" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=600,height=600,toolbar=1,resizable=0'); return false;" href="http://pinterest.com/pin/create/button/?url={{ post.link }}&media={{ post.thumbnail.src }}">{% include 'icons/pinterest.svg' %}</a></li>
								<li><a target="_blank" href="mailto:?subject={{ post.title }}={{ post.title }} from Sailing Collective&body=Check out {{ post.title }} from Sailing Collective. <br/> {{ post.link}}" title="Share by Email"><span class="icon">{% include 'icons/email.svg' %}</span></a></li>
							</ul>
						</div>
					{% endif %}
				</div>

			</div>
		</div>
	</div>
</section>