{% if (get_field('splash_layout') == "splitscreen") %}<span class="header-placeholder"></span>{% endif %}
<section class="featured-content top-area full-width-block mid-grey clipped-section
	{{ get_field('splash_layout') }}
	{{ get_field('splitscreen_background') }}
	{% if fullHeight == true %}full-height {% else %} three-quarters-height{% endif %}">
	
	{% if (get_field('splash_layout') == "splitscreen") %}
		{% set hideHeaderLogo = 'false' %}
	{% else %}
		{% set hideHeaderLogo = 'true' %}
	{% endif %}
	
	{% if white %}
		<div class="clip">
			{% include 'partials/header.twig' with { 'style': 'white', 'logo' : hideHeaderLogo } %}
		</div>
	{% else %}
		{% include 'partials/header.twig' with { 'style': 'dark', 'logo' : hideHeaderLogo } %}
	{% endif %}

	<div class="container{% if overlayPosition == 'center-center' %} very-narrow{% endif %} flex-{% if overlayPosition %}{{ overlayPosition }}{% else %}center{% endif %}{% if white %} bg-color{% endif %}">
		<div class="stagger-in-items">
			{% if smallText %}
				<h6 class="small-caps">{{ smallText }}</h6>
			{% endif %}
			{% if textOverlay %}
				<h2 class="h1">{{ textOverlay }}</h2>
			{% endif %}
			
			{% if post.author_name %}
				<p class="author"><span class="italic">By</span> {{ post.author_name }} | {{ post.post_date|date('M. j, Y') }}</p>
			{% elseif author %}
				<p><span class="italic">By</span> {{ author }} | {{ post.post_date|date('M. j, Y') }}</p>
			{% elseif date %}
				<p>{{ post.post_date|date('M. j, Y') }}</p>
			{% endif %}
			{% if introText %}
				<p>{{ introText }}</p>
			{% endif %}
			{% if linkText and linkUrl %}
				<a href="{{ linkUrl }}" class="underlined-link">{{ linkText }}</a>
			{% endif %}
			{% if descriptionText %}
				<p>{{ descriptionText }}</p>
			{% endif %}
			{% if shareLinks == true %}
				<div class="share-wrap">
					<div class="underlined-link">Share</div>
					<ul class="share-links">
						<li><a target="_blank" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=700,height=700,toolbar=1,resizable=0'); return false;" href="https://www.facebook.com/sharer.php?u={{ post.link }}"><span class="icon">{% include 'icons/facebook.svg' %}</span></a></li>
						<li><a target="_blank" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=600,height=600,toolbar=1,resizable=0'); return false;" href="https://twitter.com/intent/tweet?url={{ post.link }}&text={{ post.title }}"><span class="icon">{% include 'icons/twitter.svg' %}</span></a></li>
						<li><a target="_blank" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=600,height=600,toolbar=1,resizable=0'); return false;" href="http://pinterest.com/pin/create/button/?url={{ post.link }}&media={{ post.thumbnail.src }}">{% include 'icons/pinterest.svg' %}</a></li>
						<li><a target="_blank" href="mailto:?subject={{ post.title }}={{ post.title }} from Sailing Collective&body=Check out {{ post.title }} from Sailing Collective. <br/> {{ post.link}}" title="Share by Email"><span class="icon">{% include 'icons/email.svg' %}</span></a></li>
					</ul>
				</div>
			{% endif %}
		</div>
	</div>
	<div class="cover-area{% if white %} shaded{% endif %}">
		{% if video %}
	    <video class="cover" data-object-fit="cover" autoplay loop muted playsinline>
	      <source src="{{ video_url }}" type="video/mp4">
	    </video>
    {% else %}
    	<img class="cover" data-object-fit="cover" src="{{ TimberImage(image).src | resize('sc-5-3-md') }}" srcset="{{ TimberImage(image).src | resize('sc-5-3-xlg') }} 1000w">
    {% endif %}
	</div>
</section>