{% set full_width_image = TimberImage(block.image) %}

<section class="clipped-section no-top-space no-bottom-space full-width-block">
	<div class="clip">
		{% include 'partials/header.twig' with { 'logo': 'false', 'style': 'inverted' } %}
	</div>
	<div class="image-block">
	<div class="lazy-wrap lazyload">
		<img src="{{ full_width_image.src('sc-md')}}" srcset="{{ full_width_image.src('sc-xlg')}} 1000w" alt="{{ block.image | alt}}">
	</div>
	<div class="container">
		<div class="caption-block">
			{% if block.image_caption %}
				<p class="sm caption">{{ block.image_caption }}</p>
			{% endif %}
			{% if block.image_credit %}
				<p class="sm credit italic light-text-color">{{ block.image_credit }}</p>
			{% endif %}
		</div>
	</div>
	</div>
</section>