<section class="margined">
	<div class="container">
		<div class="inline-grid">
		
			<div class="col-6">
				<img src="{{ TimberImage(block.image_1).src('sc-sm')}}" alt="{{ block.image_1 | alt}}">
				<div class="caption-block">
					{% if block.image_1_caption %}
						<p class="sm caption">{{ block.image_1_caption }}</p>
					{% endif %}
					{% if block.image_1_credit %}
						<p class="sm credit italic light-text-color">{{ block.image_1_credit }}</p>
					{% endif %}
				</div>
			</div>

			<div class="col-6">
				<img src="{{ TimberImage(block.image_2).src('sc-sm')}}" alt="{{ block.image_2 | alt}}">
				<div class="caption-block">
					{% if block.image_2_caption %}
						<p class="sm caption">{{ block.image_2_caption }}</p>
					{% endif %}
					{% if block.image_2_credit %}
						<p class="sm credit italic light-text-color">{{ block.image_2_credit }}</p>
					{% endif %}
				</div>
			</div>

		</div>
	</div>
</section>