{% set wide_image =  TimberImage(block.image) %}
<section class="margined block-wide-image">
	<div class="container {{ width }}">
		<div class="lazy-wrap lazyload">
			<img src="{{ wide_image.src('sc-md')}}" srcset="{{ wide_image.src('sc-xlg')}} 1000w" alt="{{ block.image | alt}}">
		</div>
		<div class="caption-block">
			{% if block.image_caption %}
				<p class="sm caption">{{ block.image_caption }}</p>
			{% endif %}
			{% if block.image_credit %}
				<p class="sm credit italic light-text-color">{{ block.image_credit }}</p>
			{% endif %}
		</div>
	</div>
</section>