{% extends "base.twig" %}
{% set body_class = (post.splash_layout == 'recipe') ? 'article-page push-down' : 'article-page'  %}

{% block content %}

{% if post.splash_layout == 'recipe' %}
	{% include 'components/recipe-top.twig' with {
			'video' : post.splash_video_background,
			'image' : post.splash_image,
			'video_url' : post.get_field('splash_video'),
			'white' : post.splash_white_text,
			'textOverlay' : post.title,
			'smallText' : post.categories.0.name,
			'overlayPosition' : post.splash_text_position ~ '-center',
			'date' : post.post_date|date('F j, Y'),
			'author' : post.author.name,
			'introText' : post.post_excerpt,
			'splash Layout' : post.splash_layout,
			'recipeServings' : post.servings_time,
			'shareLinks' : post.shareable
	} %}
{% else %}
	{% include 'components/top-area.twig' with {
			'video' : post.splash_video_background,
			'image' : post.splash_image,
			'video_url' : post.get_field('splash_video'),
			'white' : post.splash_white_text,
			'textOverlay' : post.title,
			'smallText' : post.categories.0.name,
			'descriptionText' : post.splash_text,
			'overlayPosition' : post.splash_text_position ~ '-center',
			'author' : post.author.name,
			'introText' : post.post_excerpt,
			'splash Layout' : post.splash_layout,
			'shareLinks' : post.shareable
	} %}
{% endif %}	

{% for block in post.get_field('blocks') %}
	{% if block.acf_fc_layout == 'large_text_area' %}
		{% include 'components/flexible-content/large-text.twig' %}

	{% elseif block.acf_fc_layout == 'large_image' %}
		
		{% if block.full_width %}
			{% include 'components/flexible-content/full-width-image.twig' %}
		{% else %}
			{% include 'components/flexible-content/wide-image.twig' %}
		{% endif %}

	{% elseif block.acf_fc_layout == 'two_up_images' %}
		{% include 'components/flexible-content/two-up-images.twig' %}

	{% elseif block.acf_fc_layout == 'image_and_text' %}
		{% include 'components/flexible-content/image-and-text.twig' %}

	{% elseif block.acf_fc_layout == 'right_text' %}
		{% include 'components/flexible-content/two-up-text.twig' %}

	{% elseif block.acf_fc_layout == 'recipe' %}
		{% include 'components/flexible-content/recipe-block.twig' %}


	{% elseif block.acf_fc_layout == 'rich_text' %}
		{% include 'components/flexible-content/rich-text.twig' %}
	{% endif %}
{% endfor %}

{% if post.prev.link %}
<div class="left-margin hide-md">
	<div class="content-wrap">
		<div class="center">
			<a href="{{ post.prev.link }}" class="transition-link text-color vertical-text article-link prev">
				<span class="tiny-caps text">Prev Article</span>
			</a>
			<a class="article-card article-link transition-link" href="{{ post.prev.link }}">
				<div class="inline-grid no-break tight-gutter middle">
					<div class="col-4">
						{% if post.prev.get_field('splash_video') %}
						<div class="col-4">
					  	<div class="ratio-wrap">
						    <video class="cover" autoplay loop muted playsinline>
						      <source src="{{ post.prev.get_field('splash_video') }}" type="video/mp4">
						    </video>
					    </div>
				    </div>
				  {% else %}
				  	<div class="col-4">
					    <img src="{{ post.prev.thumbnail | resize(800, 533) }}" srcset="{{ post.prev.thumbnail | resize(1200, 800) }} 1000w">
				    </div>
				  {% endif %}
					</div>
					<div class="col-8">
						<p class="sm no-spacing text-color ellipsis">{{ post.prev.title }}</p>
						<p class="sm light-text-color italic no-spacing">by {{ post.prev.author.name }}</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
{% endif %}

{% if post.next.link %}
<div class="right-margin hide-md">
	<div class="content-wrap">
		<div class="center">
			<a href="{{ post.next.link }}" class="transition-link text-color vertical-text article-link">
				<span class="tiny-caps text">Next Article</span>
			</a>
			<a class="article-card article-link transition-link" href="{{ post.next.link }}">
				<div class="inline-grid no-break tight-gutter middle">
					{% if post.next.get_field('splash_video') %}
						<div class="col-4">
					  	<div class="ratio-wrap">
						    <video class="cover" autoplay loop muted playsinline>
						      <source src="{{ post.next.get_field('splash_video') }}" type="video/mp4">
						    </video>
					    </div>
				    </div>
				  {% else %}
				  	<div class="col-4">
					    <img src="{{ post.next.thumbnail | resize(800, 533) }}" srcset="{{ post.next.thumbnail | resize(1200, 800) }} 1000w">
				    </div>
				  {% endif %}
					<div class="col-8">
						<p class="sm no-spacing text-color ellipsis">{{ post.next.title }}</p>
						<p class="sm light-text-color italic no-spacing">by {{ post.next.author.name }}</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
{% endif %}

<section class="margined share">
	<div class="more-cta">
		<div class="container">
			<div class="share-wrap">
				<div class="underlined-link">Share</div>
				<ul class="share-links">
					<li><a target="_blank" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=700,height=700,toolbar=1,resizable=0'); return false;" href="https://www.facebook.com/sharer.php?u={{ post.link }}"><span class="icon">{% include 'icons/facebook.svg' %}</span></a></li>
					<li><a target="_blank" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=600,height=600,toolbar=1,resizable=0'); return false;" href="https://twitter.com/intent/tweet?url={{ post.link }}&text={{ post.title }}"><span class="icon">{% include 'icons/twitter.svg' %}</span></a></li>
					<li><a target="_blank" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=600,height=600,toolbar=1,resizable=0'); return false;" href="http://pinterest.com/pin/create/button/?url={{ post.link }}&media={{ post.thumbnail.src }}">{% include 'icons/pinterest.svg' %}</a></li>
					<li><a target="_blank" href="mailto:?subject={{ post.title }}={{ post.title }} from Sailing Collective&body=Check out {{ post.title }} from Sailing Collective. <br/> {{ post.link}}" title="Share by Email"><span class="icon">{% include 'icons/email.svg' %}</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

{% include 'partials/article-callout.twig' 
		with {
			'video' : options.callout_video_background,
			'image' : options.callout_background_image,
			'video_url' : get_field('callout_background_video', 'options'),
			'title' : options.callout_title,
			'text' : options.callout_text,
			'buttonText' : options.callout_link_text,
			'buttonExternal' : options.callout_external_link_type,
			'buttonLink' : options.callout_link,
			'buttonExternalLink' : options.callout_external_link
		} only
%}

{% if related %}
	<section class="grey no-top-space no-bottom-space">
		<div class="section-header">
			<div class="container">
				<h3>More {{ post.categories.0.name }}</h3>
			</div>
		</div>
		<div class="container narrow no-top-space">
			<div class="inline-grid">
				{% for item in related %}
					<div class="col-6 right">
						{% include 'components/article-list-thumb.twig' %}
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="more-cta after-list">
			<div class="container">
				{% include 'components/button.twig' 
					with {
						'buttonClass': 'large transition-link',
						'buttonText': 'More ' ~ post.categories.0.name,
						'buttonLink': post.categories.0.link
					} only
				%}
			</div>
		</div>
	</section>
{% endif %}

{% endblock %}{# end content #}