<section class="full-height clipped-section">
	<div class="clip">
		{% include 'partials/header.twig' with {'style' : 'white', 'logo' : 'false'} only %}
	</div>
	<div class="container flex-center very-narrow bg-color cta-image-block">
		<div>
			<div class="icon">{% include 'icons/sc-mark.svg' %}</div>
			<h4 class="h1">{{ title }}</h4>
			<p class="md">{{ text }}</p>
			{% include 'components/button.twig' 
				with {
					'blankTarget': buttonExternal,
					'buttonClass': 'large secondary transition-link',
					'buttonText': buttonText,
					'buttonLink': (buttonExternal)  ? buttonExternalLink : buttonLink
				} only
			%}
		</div>
	</div>
	<div class="cover-area shaded">
		{% if video %}
	    <video class="cover" data-object-fit="cover" autoplay loop muted playsinline>
	      <source src="{{ video_url }}" type="video/mp4">
	    </video>
    {% else %}
    	<img class="cover" data-object-fit="cover" src="{{ TimberImage(image).src | resize(1000, 600) }}" srcset="{{ TimberImage(image).src | resize(2000,1200) }} 1000w">
    {% endif %}
	</div>
</section>