<footer>
	<section class="dark{% if style %} {{ style }}{% endif %}">
		<div class="container">
			<ul>
				{% for item in footer_menu.items %}
					<li class="{{ item.classes | join(' ') }}">
						<a href="{{ item.link }}" class="transition-link" title="{{ item.title }}">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>
</footer>