<div class="container menu-wrap">
	<div class="hang-right">
		<a class="menu-toggle"></a>
	</div>
	<div class="menu">
		<ul class="nav">
			{% for item in header_menu.items %}
				<li class="{{ item.classes | join(' ') }}">
					<a href="{{ item.link }}" class="transition-link" title="{{ item.title }}">{{ item.title }}</a>
				</li>
			{% endfor %}
		</ul>
		<div class="contact-info">
			<ul>
				{% for item in footer_menu.items %}
				<li class="{{ item.classes | join(' ') }}">
					<a href="{{ item.link }}" class="transition-link" title="{{ item.title }}">{{ item.title }}</a>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>